Source: pdftk
Section: text
Priority: optional
Maintainer: Johann Felix Soden <johfel@debian.org>
Build-Depends: debhelper (>= 9), gcj-jdk
Standards-Version: 3.9.7
Homepage: https://www.pdflabs.com/tools/pdftk-the-pdf-toolkit/
Vcs-Git: https://anonscm.debian.org/git/collab-maint/pdftk.git
Vcs-Browser: https://anonscm.debian.org/gitweb/?p=collab-maint/pdftk.git;a=summary

Package: pdftk
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: xpdf-utils
Description: tool for manipulating PDF documents
 If PDF is electronic paper, then PDFtk is an electronic stapler-remover,
 hole-punch, binder, secret-decoder-ring, and X-Ray-glasses. PDFtk is a
 simple tool for doing everyday things with PDF documents. Keep one in the
 top drawer of your desktop and use it to:
  - Merge PDF documents
  - Split PDF pages into a new document
  - Decrypt input as necessary (password required)
  - Encrypt output as desired
  - Fill PDF Forms with FDF Data and/or Flatten Forms
  - Apply a Background Watermark
  - Report PDF on metrics, including metadata and bookmarks
  - Update PDF Metadata
  - Attach Files to PDF Pages or the PDF Document
  - Unpack PDF Attachments
  - Burst a PDF document into single pages
  - Uncompress and re-compress page streams
  - Repair corrupted PDF (where possible)

Package: pdftk-dbg
Section: debug
Architecture: any
Priority: extra
Depends: pdftk (= ${binary:Version}), ${misc:Depends}
Description: tool for manipulating PDF documents (debugging symbols)
 If PDF is electronic paper, then PDFtk is an electronic stapler-remover,
 hole-punch, binder, secret-decoder-ring, and X-Ray-glasses. PDFtk is a
 simple tool for doing everyday things with PDF documents. Keep one in the
 top drawer of your desktop and use it to:
  - Merge PDF documents
  - Split PDF pages into a new document
  - Decrypt input as necessary (password required)
  - Encrypt output as desired
  - Fill PDF Forms with FDF Data and/or Flatten Forms
  - Apply a Background Watermark
  - Report PDF on metrics, including metadata and bookmarks
  - Update PDF Metadata
  - Attach Files to PDF Pages or the PDF Document
  - Unpack PDF Attachments
  - Burst a PDF document into single pages
  - Uncompress and re-compress page streams
  - Repair corrupted PDF (where possible)
 .
 This package contains the debugging symbols for the pdftk package.
