#!/usr/bin/make -f
# -*- makefile -*-

GCJ_ITEXT_SO_PATH =$(shell dpkg -L libitext-java-gcj | grep "itext-.*.so" | head -n 1 )
GCJ_ITEXT_SO_NAME =$(shell basename $(GCJ_ITEXT_SO_PATH))
GCJ_ITEXT_JAR_PATH=/usr/share/java/itext.jar

GCJ_ITEXT_VERSION=$(shell dpkg-query -W -f'$${Version}' libitext-java-gcj)
GCJ_ITEXT_VERSION_SHORT=$(shell dpkg-query -W -f'$${Version}' libitext-java-gcj | sed -e 's/-[^-]*$$//')

%:
	dh --with quilt $@

override_dh_auto_build:
	dh_auto_build
	jar tf $(GCJ_ITEXT_JAR_PATH) | grep '\.class' | sed 's/\.class//' | sed 's|/|\.|g' > classes
	gjavah -d java_libs2 -cni -classpath=$(GCJ_ITEXT_JAR_PATH) `cat classes`
	ln --target-directory $(CURDIR)/pdftk/ -s $(GCJ_ITEXT_SO_PATH)
	$(MAKE) -C $(CURDIR)/pdftk -f Makefile.Debian GCJ_ITEXT_SO=$(GCJ_ITEXT_SO_NAME)

override_dh_auto_clean:
	dh_quilt_patch
	[ ! -f $(CURDIR)/pdftk/Makefile.Debian] || make -C $(CURDIR)/pdftk -f Makefile.Debian clean
	rm -f $(CURDIR)/pdftk/$(GCJ_ITEXT_SO_NAME)
	rm -rf $(CURDIR)/pdftk/pdftk
	rm -f $(CURDIR)/classes
	rm -rf $(CURDIR)/java_libs2
	dh_auto_clean


override_dh_auto_install:
	install -o root -g root -m 755 -d $(CURDIR)/debian/pdftk/usr/bin
	install -o root -g root -m 755 $(CURDIR)/pdftk/pdftk $(CURDIR)/debian/pdftk/usr/bin
	# generate right libitext-java-gcj depends
	echo -n 'libitext-java-gcj:Depends=libitext-java-gcj (>=' $(GCJ_ITEXT_VERSION)'~)' >> debian/pdftk.substvars
	echo    ', libitext-java-gcj (< '$(GCJ_ITEXT_VERSION_SHORT)'+)'  >> debian/pdftk.substvars
	dh_auto_install

get-orig-source:
	uscan --force-download --repack --rename --destdir `pwd`

